extends layout 

block content
    h1 #{title}

    form(method='POST' action='')
            div.form-group
                label(for='title') Title: 
                input#title.form-control(type='text' placeholder='Cosmic Encounter, Five Tribes, etc.' name='title' required='true')
            div.form-group
                label(for='playerCount') Player Count: 
                input#playerCount.form-control(type='text' placeholder='2, 1-4, etc.' name='playerCount' value=(undefined===game ? '' : game.playerCount))
            div.form-group
                label(for='playTime') Play Time: 
                input#playTime.form-control(type='text' placeholder='20-30 min, 2 hr, etc.' name='playTime' value=(undefined===game ? '' : game.playTime))
            div.form-group
                label(for='developer') Developer:
                select#developer.form-control(type='select', placeholder='Select developer' name='developer' required='true' )
                    - developer.sort()
                    for dev in developer
                         if boardGame
                            //- Handle GET form, where book.author is an object, and POST form, where it is a string.
                            option(value= dev._id selected=(dev._id.toString()==boardGame.developer._id || dev._id.toString()==boardGame.dev) ? 'selected' : false) #{dev.name}
                         else
                            option(value=dev._id) #{dev.name}  
            div.form-group
                label Genre:
                    div
                        for genre in genres
                            div(style='display: inline; padding-right:10px;')
                                input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
                                label(for=genre._id) #{genre.name}
            div.form-group 
                label(for='price') Price:
                input#price.form-control(type='text' placeholder='29.99' name='price') 
            button.btn.btn-primary(type='submit') Submit            
    if errors 
        ul 
            for error in errors 
                li!= error.msg