extends layout

block content
  h1 #{title}: #{developer.name}

  if developer_games.length

    p #[strong Delete the following games before attempting to delete this developer.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Games

      dl
      each game in developer_games
        dt
          a(href=game.url) #{game.title}
        dd #{game.price}

  else
    p Do you really want to delete this developer?

    form(method='POST' action='')
      div.form-group
        input#developerid.form-control(type='hidden',name='developerid', required='true', value=developer._id )

      button.btn.btn-primary(type='submit') Delete
